@import url('../theme.css');

@font-face {
  font-family: Tanha;
  src: url(../assets/fonts/Tanha-FD.ttf);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  background-color: var(--color-accent);
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.searchWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.logoutBtn {
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
}

.logoutBtn:hover {
  background: rgba(0,0,0,.08);
}


.daysContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.daysContainer button:disabled:hover {
  background: #CCCCCC;
}

.dateSection {
  position: relative;
}

.daysSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-align: center;
}

.daysContainer .dateSection span {
  font-weight: 700;
  user-select: none;
  cursor: pointer;
}

.todayBtn {
  background: var(--color-primary);
  color: #fff;
}


@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 1rem;
  }

  .daysContainer {
    flex-direction: column;
  }
}